

.main-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.main-description {
    color: #fcf6f6;
    font-size: 20px;
    text-align: center;
}

.featured-title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'roboto';
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

