.product-card {
    color: #fff;
    background-color: #6db1ff;
    width: 250px;
    font-size: 17px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 1);
    padding: 25px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: translateY(5px);
    margin-top: 30px;
    border: 1px solid #3c6df1;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    transform: translateY(-5px);
    background-color: #4c5ad3;
}

.product-card img {
    border-radius: 5px;
    border: 2px solid #4c5ad3;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.product-card a {
    color: #0544f3;
    transition: color 0.3s ease;
    text-decoration: none;
}

.product-card a:hover {
    color: #36a2eb;
    /* Blue */
    font-weight: bold;
}

.product-card p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.product-card h3 {
    color: #0f4996;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

@media (max-width: 1260px) {
    .product-cards {
        gap: 30px;
    }
}

@media (max-width: 750px) {
    .product-cards {
        gap: 30px;
    }
}

@media (max-width: 556px) {
    .product-cards {
        justify-content: center;
        align-items: center;
    }
}